/*@import url('import.css');*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=PT+Mono&display=swap');
/*
    font-family: 'Architects Daughter', cursive;
    font-family: 'Space Mono', momospace;*/

body {
    margin: 0 auto;
    background: repeating-linear-gradient( 0deg, #FAE3B7, #BD89C7, #F6DBA4, #e7cfdd, #f5ebdf, #DAD1EE, #EBE8Ee, #EBE8E3, #ffebb9);
    /*background-size: cover;*/
}

ul.blocklist {
    background-color: rgb(59, 89, 152);
    padding: 0;
}

    ul.blocklist li {
        list-style-type: none;
        list-style-image: none;
    }

    ul.blocklist a {
        color: lightsalmon;
        text-align: center;
        padding: .5em;
        display: block;
        /*this makes the entire horizontal area clickable, not just the text*/
    }

        ul.blocklist a:hover {
            background-color: darkblue;
            color: lightblue;
        }

/*base link (all links*/
a {
    color: indigo;
    color: rgb(59, 89, 152);
    font-weight: bold;
    text-decoration: none; /*removes the default underline*/
    font-family: cursive;
    font-size: .75em;
    background-color: transparent;
}

nav a {
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    margin: 0;
    padding: 5px 0 0 0;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    background-color: rgba(230, 230, 250, 0.55);
    color: #360E54;
    min-height: 42px;
    background: repeating-linear-gradient(180deg, lightyellow, lavender, pink, lightyellow, #ffebb9, transparent 100px);
}

nav li:hover {
    background-color: lavender;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

main h1 {
    /*background-color: rgba(140, 115, 115,.6);
    background-color: rgba(18, 2, 23, 1);
    background-color: rgba(211, 211, 211, 0.9);*/
}

h1 {
    color: darkblue;
    font-size: 24px;
}

h2 {
    color: #360E54;
    text-align: center;
    font-size: 1.75em;
    text-shadow: 3px -2px 5px #BEF2FF;
    font-family: Architects Daughter;
}

h3 {
    color: #360E54;
    text-align: center;
    font-size: 1.25em;
    text-shadow: 3px -2px 5px #BEF2FF;
    font-family: Architects Daughter;
    margin: 20px 0px 2px 20px;
}

aside, nav, section h1 {
    font-size: 1.17em;
}

.contact {
    text-align: center;
    font-weight: bold;
    color: black;
    list-style: none;
}

    .contact aside ul {
        font-weight: bold;
        color: #360E54;
        list-style-type: none;
    }

    .contact h1 {
        color: black;
        border: none;
    }

    .contact li {
        padding: 5px 3px 5px 3px;
    }

header {
    /*background-color: #7668cc;  */
    border-radius: 5px;
    background-size: cover;
    background-image: url('../images/colorful bg pastel border.jpg');
}

    header h1, header p {
        margin: 5px 0 5px 150px;
    }

    header p {
        font-family: 'PT Mono', momospace;
        font-style: italic;
        font-weight: bold;
        font-size: .75em;
        margin: 5px 0 5px 150px;
        text-shadow: 3px -2px 5px #BEF2FF;
    }

#headerOverlay {
    background-image: url('../images/colorful dog paw.png');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}

header h1 {
    /*ext-shadow: 3px -2px 2px #BEF2FF; */
    text-shadow: 3px -2px 2px #f1c801;
    text-align: left;
    letter-spacing: 0.1em;
    color: #360E54;
    font: 1.7em 'Architects Daughter', cursive;
    font-weight: bold;
}


footer {
    font-style: italic;
    background-color: lavender;
    background-size: cover;
    color: darkblue;
    margin: 0 auto;
    padding: 1.25%;
    font-size: .85em;
    font-weight:bold;
    background-image: url('../images/colorful bg pastel border.jpg');

}

    footer li {
        list-style: none;
        text-align: left;
    }

    footer .fa {
        font-size: medium;
    }

    footer div.icons a {
        list-style: none;
        text-align: left;
        width: 40px;
        height: 10px;
        display: inline-block;
        float: right;
    }

#footer p {
    margin: 0 auto;
}

li.iconTwitter, li.iconFacebook, li.iconIG {
    width: 40px;
    height: 10px;
    display: inline-block;
    float: right;
}

#colorsLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#colorsRightColumn {
    width: 25%;
    float: right;
}
/*For fonts.html - 2 column layout with 2 columns floated*/
#fontsLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#fontsRightColumn {
    width: 25%;
    float: right;
}
/*For images.html - 2 column layout with 2 columns floated*/
#imagesLeftColumn {
    width: 50%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#imagesMiddleColumn {
    width: 25%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#imagesRightColumn {
    width: 25%;
    float: right;
}

div.galleryItem {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    display: inline-block;
    width: 235px;
    text-align: left;
    height: 300px;
}

    div.galleryItem:hover {
        border: 1px solid #360E54;
    }

    div.galleryItem img {
        width: 100%;
        height: 180px;
    }

    div.galleryItem a:hover {
        background-color: #f1c801;
    }

    div.galleryItem p {
        font-weight: bold;
        font-size: 1.2em;
        font-family: cursive;
        margin: 1px 0 0 0;
        padding: 4px 8px 1px 8px;
        color: indigo;
    }

    div.galleryItem .description {
        padding: 2px 8px 8px 8px;
        width: 230px;
        height: 90px;
    }

    div.galleryItem .description, .courseTable {
        /*background-color: lavender;*/
    }

    div.galleryItem a {
        color: teal;
        text-decoration: underline;
        font-style: italic;
    }
#teamGallery img {
    padding: 2px 8px 8px 8px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
#teamGallery section {
    width: 85%;
    margin: 0 auto;
    display: inline-block;
    margin-top:0;
}
#teamGallery .position {
    font-size: .9em;
    text-align: left;
    color: darkblue;
}
#teamGallery p {
    margin: 0 25px 25px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.teamPhoto {
    float: left;
    margin: 0 50px 50px 75px;

}

#courseImageGallery {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: .65em;
}

    #courseImageGallery h2 {
        margin: 0 auto;
        text-align: center;
        font-size: 1.5em;
    }


/*#endregion*/

.courseInfo h2 {
    background-color: none;
}

table td, th {
    border: 1px solid darkgray;
    border-style: solid none none none;
    border-bottom: none;
    padding: 7px;
    width: 90px;
    height: 15px;
    text-align: left;
    /*vertical-align: middle; -----this is actually default but added for reference*/
}

table {
    align-content: center;
    width: 400px;
}

    table th {
        background-color: #B44A92;
        background-color: #9B96BF;
        background-color: #487BA8;
        background-color: #E6BAB9;
        text-align: center;
        /*background-image: url('../images/colorful bg pastel rotated.jpg');*/
    }

tbody tr:nth-child(even) {
    background-color: #E8C8EF; /*apply alternating background to each row*/
    background-color: #EECED1;
}

tbody tr:nth-child(odd) {
    background-color: #F7F4E5; /*apply alternating background to each row*/
}

.courseTable {
    border-collapse: collapse;
    border-bottom: none;
    font-family: 'Times New Roman';
    font-size: .7em;
    margin: 0 auto;
}

article h1 {
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    background-color: none;
}

.fa {
    background-color: transparent;
    padding: 2px;
}

Header .fa {
    font-size: x-large;
}

#leftcolum {
    width: 73%;
    border-right: 1px solid black;
}
#rightColumn {
    width: 25%;
    float: right;
}

aside h2 {
    margin-top: 0;
}

/*For HTML.html - 2 column layout with 1 column floated, margin clear*/
#teamLeftColumn {
    border-right: 1px solid black;
    width: 73%;
    /*box-sizing: border-box;*/
    /*border-box changes the way width and height are figured. This means that width: 75% includes
        content, padding, and border. (NOT margin)
    */
}
#teamLeftColumn h1 {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: maroon;
}
    #teamLeftColumn h2 {
        margin: 0 auto;
        font-size: 1.5em;
        color:  indigo;
    }

#teamRightColumn {
    width: 25%;
    float: right;
}

#cssLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
    /*border-box changes the way width and height are figured. This means that width: 75% includes
        content, padding, and border. (NOT margin)
    */
}
#aboutUs img {
    float: left;
    width: 200px;
    height: 200px;
    padding: 2px 8px 8px 8px;
}
#aboutUs p {
    margin: 0 100px 0 0;
}
.img2 {
    margin: 0 50px 20px 20px;
}
.img1 {
    margin: 0 5px 20px 100px;
}

#chooseUs1 img {
    float: left;
    margin: 0 50px 20px 100px;
    padding: 2px 8px 8px 8px;
    width: 450px;
    height: 250px;
}
#chooseUs2 img {
    float: right;
    margin: 0 75px 20px 505px;
    padding: 2px 8px 8px 8px;
    width: 450px;
    height: 250px;
}

.mainWrapper {
    padding: 1%;
}

.asideWrapper {
    padding: 1%;
}

.asideList li {
    padding: 5px 20px 20px 5px;
}
.clear {
    clear: both;
}
