body {

}
header{
    background-color: lightblue;
}

main{
    background-color: lightgray;
}

h1{
    font-size: 20px;
    color: darkgray;
    border: double;
    border-color: black;
    text-decoration: none;
}

h2{
    font-size:18px;
    color:purple;
}
footer {
    font-style: italic;
    font-size:small;
    background-color: #808080;
    color: black;

}

